@inherits RocketCatalog.Components.RocketCatalogTokens<Simplisity.SimplisityRazor>
@using RocketCatalog.Components;
@using DNNrocketAPI.Components;
@using Simplisity;

@{
    var appTheme = (AppThemeLimpet)Model.GetDataObject("apptheme");
    var remoteModule = (RemoteModule)Model.GetDataObject("remotemodule");
    var info = new SimplisityInfo(remoteModule.Record);
}
@AddProcessData("resourcepath", "/DesktopModules/DNNrocket/api/App_LocalResources/")
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketCatalog/App_LocalResources/")
@AddProcessData("resourcepath", appTheme.AppThemeVersionFolderRel + "/resx/")

<div class="w3-half w3-padding">
    <label>@ResourceKey("DNNrocket.height") (px)</label>
    @TextBox(info, "genxml/settings/height", " class='w3-input w3-border'", "700")
</div>
<div class='w3-row'>
    <div class='w3-col m6 w3-padding'>
        <label>@ResourceKey("Theme.lat")</label>
        @TextBox(info, "genxml/settings/lat", " class='w3-input w3-border' autocomplete='off' disabled ", "", false, 0)
    </div>
    <div class='w3-col m6 w3-padding'>
        <label>@ResourceKey("Theme.long")</label>
        @TextBox(info, "genxml/settings/long", " class='w3-input w3-border' autocomplete='off' disabled ", "", false, 0)
    </div>
</div>
<div class='w3-row'>
    <div style='color:red;'><b>@ResourceKey("Theme.mapmsg")</b></div>
    <label class=""></label>
    <div id="leafletmapselect" style="height:300px" class="w3-light-grey"></div>

</div>


<div class="w3-row">
    <div class="w3-half w3-padding">
        <label>@ResourceKey("Theme.showextrainfo")</label><br />
        @CheckBox(info, "genxml/settings/extrainfo", "", "class='w3-check'", true)
    </div>
    <div class="w3-half w3-padding">
        <label>@ResourceKey("Theme.showwebsite")</label><br />
        @CheckBox(info, "genxml/settings/websitelink", "", "class='w3-check'", true)
    </div>
</div>
<div class="w3-row w3-padding">
    <label>@ResourceKey("Theme.detailpageurl")</label>
    @TextBox(info, "genxml/settings/detailpage", " class='w3-input w3-border'", Model.SessionParamsData.PageUrl)
</div>


<script>

    $(document).ready(function () {
        simplisity_injectlink('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.css');
        simplisity_injectscript('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.3/leaflet.js');
		setTimeout(() => {  simplisity_injectscript('https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js'); }, 1000);
		setTimeout(() => {  initmap(); }, 500);
    });

    function markerFunction(id) {
        for (var i in markers) {
            var markerID = markers[i].options.title;
            if (markerID == id) {
                markers[i].openPopup();
            };
        }
    }

    function initmap() {

        @{
            var gpslong = info.GetXmlProperty("genxml/settings/long").Replace("'", "");
            var gpslat = info.GetXmlProperty("genxml/settings/lat").Replace("'", "");
            var companyname = info.GetXmlProperty("genxml/textbox/companyname").Replace("'", "-");
            var txtdata = "";
        }

        var x = '@gpslat';
        var y = '@gpslong';
        var marker = "";
        var companyname = '@companyname';
        var map = "";
        if (x != '' && y != '') {
            map = L.map('leafletmapselect', {minZoom: 3}).setView([x, y], 13);
            marker = L.marker([x, y], { title: companyname });
            map.addLayer(marker);
        }
        else {
            map = L.map('leafletmapselect', { minZoom: 3 }).setView([52.970731, -1.309078], 13);
        }

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        //L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png', {
        //    attribution: '<a href="https://wikimediafoundation.org/wiki/Maps_Terms_of_Use">Wikimedia</a>',
        //}).addTo(map);


        var lat, lng;

        map.addEventListener('mousemove', function (ev) {
            lat = ev.latlng.lat;
            lng = ev.latlng.lng;
        });

        $("#leafletmapselect").unbind("dblclick");
        $("#leafletmapselect").dblclick(function (event) {
            $('#lat').val(lat.toFixed(6));
            $('#long').val(lng.toFixed(6));
            if (marker !== "") {
                map.removeLayer(marker)
            }
            marker = L.marker([lat, lng], { title: companyname });
            map.addLayer(marker);

            return false; // To disable default popup.
        });

    }

</script>
